body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    background-color: crimson;
}

#first {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 24;
}
#second {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 24;
}

#third {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 24;
}

h1 {
    font-size: 36;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
